*{
    margin: 0;
    padding:0;

}
body{
    background: rgb(65,184,24);
background: linear-gradient(183deg, rgba(65,184,24,1) 0%, rgba(37,80,131,1) 61%);
text-align: center;
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin ;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 6px black;
    font-size: 8vmin;
    color:blueviolet;
    font-family: cursive;
    background-color: white;
}

.buttons{
    background-color: black;
    color:white;
    padding:1rem;
    font: 1.25rem;
}
.buttons a{
    color:white;
    text-decoration: none;
}
.hide{
    display: none;
}
.newgame{
    padding:1rem;
    font: 1.25rem;
}

.bg-img{
    height: 650px;
    filter:brightness(90%) ;
}
.resimg a{
  color:white;
  text-decoration: none;
}

